// Variables
@gridHelp: transparent;
@colorHelp: #ffffff;
@gridCommit: #ffffff;

// MixIns

.playerText {
  text-align: center;
  margin-top: 20px;
  color: white;
}

.scoreText {
  text-align: center;
  color: white;
  font-size: 25px;
  grid-template-columns: 1fr;
  grid-replate-rows: 1fr, 2fr;
}

.winText {
  text-align: center;
  color: white;
  font-size: 22px;
  margin-top: 2px;
  margin-bottom: 2px;

}

.btnText {
  background: none;
  border: 0;
  font-size: 22px;
  color: white;
  height: 22px;


  &:hover {
    font-weight: 600;
  }
}

* {
  font-family: verdana;
}

body {
  background: #477148;
}

.grid {
  display: grid;
  margin: auto;
  padding-top: 5%;
  width: 900px;
  height: 600px;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 1em;
}

.grid > div {
  background-color: @gridHelp;
}

.logo {
  grid-column-start: 4;
  grid-column-end: 5;

    img {
      max-height: 100px;
    }
}

.player1 {
  grid-column-start: 1;
  grid-column-end:  4;
  grid-row-start: 1;
  grid-row-end: 2;
  .playerText;

}


.player2 {
  grid-column-start: 5;
  grid-column-end: 8;
  grid-row-start: 1;
  grid-row-end: 2;
  .playerText;
}

.card1 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;

    img {
    max-height: 300px;
    min-height: 100px;
    }
}

.card2 {
  grid-column-start: 6;
  grid-column-end: 7;
  grid-row-start: 2;
  grid-row-end: 3;

  img {
    max-height: 300px;
    min-height: 100px;
  }
}


.buttons {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 3;

    .btns {
      display: grid;
      height: 100%;
      grid-template-rows: repeat(2, 1fr);
      align-items: center;
      justify-items: center;

      button {
        .btnText
      }
    }
}

.score1 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
  display: grid;
  .scoreText;

  .scoreNum1 {
    font-size: 40px;
    margin-top: 0px;
  }
}

.score2 {
  grid-column-start: 6;
  grid-column-end: 7;
  grid-row-start: 3;
  grid-row-end: 4;
  .scoreText;

  .scoreNum2 {
    font-size: 40px;
    margin-top: 0px;
  }
}

.winner {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 4;
}

.winHead1 {
  margin-top:15px;
  text-align: center;
  color: white;
  font-size: 22px;
  margin-bottom: 2px;
}

.winHead2 {
  .winText;
}

.pWin {
  .winText;
}
